@model List<Feiyingx.Data.Models.Recommendation>
@{
    ViewBag.Title = "Index";
    bool hasRecs = (Model == null || Model.Count == 0) ? false : true;
}

<div class="reco-container">
    <h2>Recommendations</h2>
    @if(hasRecs){
    <ul class="reco-list">
        @foreach(var rec in Model){
        <li class="@rec.CssClass">
            
            <p class="person-section">
                <em class="name"><a href="@rec.LinkedIn">@rec.FirstName @rec.LastName</a></em>
                <em class="title">@rec.PositionTitle</em>, <em class="company"><a href="@rec.CompanyUrl">@rec.CompanyName</a></em>
            </p>
            <p>
                @Html.Raw(rec.Message)
            </p>
         
        </li>
        }
    </ul>
    }
</div>
