@model List<Feiyingx.Data.Models.Project>
@{
    ViewBag.Title = "Home Page";
    //For now, just display the latest featured project
    var featured = Model.FirstOrDefault();
}



<div class="promo-graphic tablefy @featured.FeatureCssTheme">
    <div class="tablefy-cell">
        <a href="@Url.Action("detail", "project", new { id=featured.Id })"><img src="@featured.FeatureMainImage" alt="@featured.ProjectTitle" /></a>
    </div>
</div>
<div class="promo-content tablefy @featured.FeatureCssTheme">
    <div class="tablefy-cell">
        <div class="promo-data">
            <h2>@featured.FeatureTitle</h2>
            
            <p>
                @Html.Raw(featured.FeatureDescription)
            </p>
            
            <div class="action-btns">
                <a href="@Url.Action("detail", "project", new { id = featured.Id })" class="link1 roll">Learn more</a>
                @if(featured.Type == ((int)(Feiyingx.Code.DataConstants.Enumerations.ProjectType.Android))){
                    <a href="@featured.ProjectUrl" class="link2" target="_blank">Play Store</a>
                }else if(featured.Type == ((int)(Feiyingx.Code.DataConstants.Enumerations.ProjectType.Website))){
                    <a href="@featured.ProjectUrl" class="link2" target="_blank">Go to site</a>
                }
            </div>
        </div>
    </div>
</div>