<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Ken Wang</title>
        <meta name="description" content="A software dev's life " />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script type="text/javascript" src="//use.typekit.net/ywx7jnn.js"></script>
        <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="loading tablefy">
            <div class="tablefy-cell">
                <div class="loader-container">
                    @*<p>I'm on it!</p>*@
                    <div class="loader loading-block-1"></div>
                    <div class="loader loading-block-2"></div>
                    <div class="loader loading-block-3"></div>
                    <div class="loader loading-block-4"></div>
                    <div class="loader loading-block-5"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-left">
                @*Left Nav Section*@
                @Html.Partial("_MainNavPartial")
            </div>
            <div class="col-right">
                @RenderBody()
            </div>
        </div>
        


        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script>
            
            $(window).bind('beforeunload', function (e) {
                startPageLoadTransition();
            });

            $(function () {
                completePageLoadTransition();
            });
            
            //Display loading screen for our page transition
            function startPageLoadTransition() {
                $(".col-right").addClass("fade-out");
                $(".loading").show();
            }

            //Display our new page to complete the transition
            function completePageLoadTransition() {
                setTimeout(function () { $(".loading").hide(); }, 100); //Give some load time to avoid jerky UI
            }

            (function ($) {
                "use strict";

                // Detecting IE
                var oldIE;
                if ($('html').is('.ie6, .ie7, .ie8, .ie9')) {
                    oldIE = true;
                }

                if (oldIE) {
                    //Redirect to no IE
                    window.location = "@Url.Action("problem","error")";
                } 

            }(jQuery));
        </script>

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-46516294-1', 'kenwang.me');
            ga('send', 'pageview');

        </script>
    </body>
</html>
