@model List<Feiyingx.Data.Models.Project>
@{
    var hasProjects = (Model == null || Model.Count == 0) ? false : true;
}

<div class="proj-container">
    <h2>Side Projects</h2>
    @if (hasProjects)
    {
        <ul class="proj-list">
            @foreach (var project in Model)
            {
                <li>
                    <div class="img-container">
                        <img src="@project.ProjectMainImage"/>
                    </div>
                    <div class="content-container">
                        <h3><a class="simple-link" href="@Url.Action("detail", "project", new { id=project.Id })">@project.ProjectTitle</a></h3>
                        
                        <p>
                            @Html.Raw(project.ProjectDescription)
                        </p>

                        <p class="tech-list">
                            @Html.Raw(project.ProjectTech.Replace(", ", " . "))
                        </p>
                    </div>
                </li>
            }
            
        </ul>
    }
</div>
